* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.01em;
}
section {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: -0.05em;
}
h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: -0.05em;
}
h3 {
  font-size: 34px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: -0.03em;
  text-align: center;
}
button {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  padding: 18px 93.5px;
  border-radius: 12px;
  background-color: #f4f6fd;
  border-color: transparent;
}
button.btn-active {
  color: white;
  background-color: #0146fe;
}
img {
  overflow: clip;
  overflow-clip-margin: content-box;
}

/* main */
.travel-title {
  margin: 161px 0 23px 0;
}
.travel-description {
  font-family: "Manrope";
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: #2a2b2f;
  margin-bottom: 40px;
}
.travel-btn {
  margin-bottom: 80px;
}
.languages-title {
  margin: 64px 0 24px 0;
}
.languages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 70px;
}
.languages-cards {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 213px;
}
.languages-card {
  width: 400px;
  height: 422px;
  padding: 23px 16px 16px 16px;
  border: 2px solid #0000000a;
  border-radius: 32px;
  box-shadow: 0 2px 5px rgba(139, 139, 139, 0.2);
}
.languages-card__title {
  margin-bottom: 12px;
}
.languages-content {
  margin-bottom: 49px;
}
.languages-card__img {
  width: 368px;
  height: 245px;
  margin-top: 15px;
}
.card-img__1 {
  padding: 33px 17.85px 51px 7px;
}
.card-img__2 {
  padding: 25.7px 51.3px 55.1px 27.3px;
}
.card-img__3 {
  padding: 42px 0px 73px 0px;
  margin-left: -2px;
}

/* for */
.for {
  margin-left: -1px;
}
.for-header__title {
  margin-bottom: 33px;
}
.for-header__text {
  margin-bottom: 64px;
}
.for-content__navigation {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
}
.for-content__navigation button {
  padding: 14px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.62px;
  text-align: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.for-content__cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1137px;
  margin: 0 auto;
  position: relative;
}
.for-card,
.for-card__sup1,
.for-card__sup2 {
  position: absolute;
}
.for-card {
  padding: 0 42px 0 11px;
  z-index: 3;
  background: #ffffff;
}
.for-card__sup1 {
  top: 102px;
  left: 64px;
  z-index: 1;
  width: 1042px;
  height: 346px;
  border: 2px solid #0000000a;
  border-radius: 32px;
  box-shadow: 0 5px 10px rgba(36, 36, 36, 0.2);
  background: #ffffff;
}
.for-card__sup2 {
  top: 142px;
  left: 98px;
  z-index: 0;
  width: 973px;
  height: 335px;
  border: 2px solid #0000000a;
  border-radius: 32px;
  box-shadow: 0 5px 10px rgba(36, 36, 36, 0.2);
}
.for-card__wrapper {
  width: 1137px;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: space-between;
  border: 2px solid #0000000a;
  border-radius: 32px;
  box-shadow: 0 5px 10px rgba(36, 36, 36, 0.2);
  text-align: left;
  padding: 41px 42px;
}
.for-card__title {
  padding-bottom: 32px;
}
.card-list {
  padding-left: 25px;
  width: 381px;
}
.for-content__btn {
  margin: 0 auto;
  margin-top: 542px;
}

/* help */
.help {
  background: #f4f6fd;
  margin-top: 81px;
}
.help-tite {
  padding: 65px 0 74px 0;
}
.help-cards {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 295px);
  column-gap: 16px;
  row-gap: 55px;
}
.help-card {
  width: 295px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.help-card__img {
  padding-bottom: 24px;
}
.help-card__title {
  padding-bottom: 14px;
}
.help-card__text {
  padding: 0 5px;
}
.help-btn {
  margin: 66px 0 40px;
}
